Pandas = Panel data 
Work with dataframe comparable to microsoft excel

Series = A pandas 1-Dimensional labeled array that can hold any data type

In [1]:
import pandas as pd
print(pd.__version__)

2.3.3

In [ ]:
data = [100.1, 102.2, 104.4] # python list
series = pd.Series(data) #this series is a constructer rather than a function

print(series) 
# data type will change according to the data int float, object or even boolean

0    100.1
1    102.2
2    104.4
dtype: float64

In [4]:
series1 = pd.Series(data , index=["Apartment #1", "Apartment #2", "Apartment #3"])
print(series1)

Apartment #1    100.1
Apartment #2    102.2
Apartment #3    104.4
dtype: float64

In [ ]:
print(series1.loc["Apartment #1"])
series1.loc["Apartment #3"] = 200 # loc = location by label
print(series1)

100.1
Apartment #1    100.1
Apartment #2    102.2
Apartment #3    200.0
dtype: float64

In [ ]:
print(series1.iloc[2]) # iloc access through integer location

200.0

In [10]:
# Using python dictionary rather than list
import pandas as pd

calories = {"Day 1": 1750, "Day 2": 3000, "Day 3": 1200}

series = pd.Series(calories)

print(series.loc["Day 2"])

3000

In [11]:
series.loc["Day 3"] += 500
print(series)

Day 1    1750
Day 2    3000
Day 3    1700
dtype: int64

In [12]:
print(series[series >= 2000])

Day 2    3000
dtype: int64

In [16]:
#Data frames

data = {"Name": ["ALice", "Susil", "Ravin"],
        "Age": [23, 22, 25]
    }

df = pd.DataFrame(data, index=["Employee 1", "Employee 2", "Employee 3"]) # here DataFrame is a constructor rather than a function so it will be capital

print(df.loc["Employee 2"])

Name    Susil
Age        22
Name: Employee 2, dtype: object

In [18]:
# Add a new column
df["Job"] = ["Manager", "Intern", "Trainee"]
print(df)

             Name  Age      Job
Employee 1  ALice   23  Manager
Employee 2  Susil   22   Intern
Employee 3  Ravin   25  Trainee

In [20]:
# Add a new row
new_row = pd.DataFrame([{"Name": "Sandy", "Age": 20, "Job": "N/A"}])
df = pd.concat([df, new_row])
print(df)

             Name  Age      Job
Employee 1  ALice   23  Manager
Employee 2  Susil   22   Intern
Employee 3  Ravin   25  Trainee
0           Sandy   20      N/A
0           Sandy   20      N/A

In [53]:
# import files
import pandas as pd

df = pd.read_csv("data.csv")
df.head()

   No        Name  Type1   Type2  Height  Weight  Legendary
0   1   Bulbasaur  Grass  Poison     0.7     6.9          0
1   2     Ivysaur  Grass  Poison     1.0    13.0          0
2   3    Venusaur  Grass  Poison     2.0   100.0          0
3   4  Charmander   Fire     NaN     0.6     8.5          0
4   5  Charmeleon   Fire     NaN     1.1    19.0          0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   No         150 non-null    int64
 1   Name       150 non-null    object
 2   Type1      150 non-null    object
 3   Type2      67 non-null     object
 4   Height     150 non-null    float64
 5   Weight     150 non-null    float64
 6   Legendary  150 non-null    int64
dtypes: float64(2), int64(2), object(3)
memory usage: 8.3+ KB

In [ ]:
print(df) # will print only the top 5 and low 5  
print(df.to_string()) # to print file as it is

Selection Techniques

In [23]:
#Selection by column 
print(df["Name"])

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
145       Moltres
146       Dratini
147     Dragonair
148     Dragonite
149        Mewtwo
Name: Name, Length: 150, dtype: object

In [24]:
#selection by rows
df = pd.read_csv("data.csv", index_col="Name")
print(df)

             No    Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     1    Grass  Poison     0.7     6.9          0
Ivysaur       2    Grass  Poison     1.0    13.0          0
Venusaur      3    Grass  Poison     2.0   100.0          0
Charmander    4     Fire     NaN     0.6     8.5          0
Charmeleon    5     Fire     NaN     1.1    19.0          0
...         ...      ...     ...     ...     ...        ...
Moltres     146     Fire  Flying     2.0    60.0          1
Dratini     147   Dragon     NaN     1.8     3.3          0
Dragonair   148   Dragon     NaN     4.0    16.5          0
Dragonite   149   Dragon  Flying     2.2   210.0          0
Mewtwo      150  Psychic     NaN     2.0   122.0          1

[150 rows x 6 columns]

In [25]:
print(df.loc["Pikachu"])

No                 25
Type1        Electric
Type2             NaN
Height            0.4
Weight            6.0
Legendary           0
Name: Pikachu, dtype: object

In [ ]:
print(df.loc["Charizard", ["Height", "Weight"]])  # second argument for the columns we only like to display

Height     1.7
Weight    90.5
Name: Charizard, dtype: object

In [ ]:
print(df.loc["Charizard":"Pikachu", ["Height", "Weight"]]) # slice command to select range

            Height  Weight
Name
Charizard      1.7    90.5
Squirtle       0.5     9.0
Wartortle      1.0    22.5
Blastoise      1.6    85.5
Caterpie       0.3     2.9
Metapod        0.7     9.9
Butterfree     1.1    32.0
Weedle         0.3     3.2
Kakuna         0.6    10.0
Beedrill       1.0    29.5
Pidgey         0.3     1.8
Pidgeotto      1.1    30.0
Pidgeot        1.5    39.5
Rattata        0.3     3.5
Raticate       0.7    18.5
Spearow        0.3     2.0
Fearow         1.2    38.0
Ekans          2.0     6.9
Arbok          3.5    65.0
Pikachu        0.4     6.0

In [30]:
# integer based 
print(df.iloc[0:11:2])

            No  Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur    1  Grass  Poison     0.7     6.9          0
Venusaur     3  Grass  Poison     2.0   100.0          0
Charmeleon   5   Fire     NaN     1.1    19.0          0
Squirtle     7  Water     NaN     0.5     9.0          0
Blastoise    9  Water     NaN     1.6    85.5          0
Metapod     11    Bug     NaN     0.7     9.9          0

In [32]:
print(df.iloc[0:11:2, 0:3])

            No  Type1   Type2
Name
Bulbasaur    1  Grass  Poison
Venusaur     3  Grass  Poison
Charmeleon   5   Fire     NaN
Squirtle     7  Water     NaN
Blastoise    9  Water     NaN
Metapod     11    Bug     NaN

In [33]:
pokemon = input("Enter a Pokemon name:")

try: 
    print(df.loc[pokemon])
except KeyError:
    print(f"{pokemon} not found")

No                 25
Type1        Electric
Type2             NaN
Height            0.4
Weight            6.0
Legendary           0
Name: Pikachu, dtype: object

In [34]:
#Filtering Using pandas
#Keeping the rows that match a condition

tall_pokemon = df[df["Height"] >= 2]

print(tall_pokemon)

             No    Type1    Type2  Height  Weight  Legendary
Name
Venusaur      3    Grass   Poison     2.0   100.0          0
Ekans        23   Poison      NaN     2.0     6.9          0
Arbok        24   Poison      NaN     3.5    65.0          0
Onix         95     Rock   Ground     8.8   210.0          0
Exeggutor   103    Grass  Psychic     2.0   120.0          0
Kangaskhan  115   Normal      NaN     2.2    80.0          0
Gyarados    130    Water   Flying     6.5   235.0          0
Lapras      131    Water      Ice     2.5   220.0          0
Snorlax     143   Normal      NaN     2.1   460.0          0
Moltres     146     Fire   Flying     2.0    60.0          1
Dragonair   148   Dragon      NaN     4.0    16.5          0
Dragonite   149   Dragon   Flying     2.2   210.0          0
Mewtwo      150  Psychic      NaN     2.0   122.0          1

In [36]:
heavy_pokemon = df[df["Weight"] >= 250]
print(heavy_pokemon)

          No   Type1   Type2  Height  Weight  Legendary
Name
Golem     76    Rock  Ground     1.4   300.0          0
Snorlax  143  Normal     NaN     2.1   460.0          0

Aggregate functions = Reduces a set of values into single summary value
                        Used to summarize and analyze data
                        Often used with the groupby() function

In [37]:
print(df.mean(numeric_only = True))

No           75.500000
Height        1.200000
Weight       46.231333
Legendary     0.026667
dtype: float64

In [38]:
print(df.sum(numeric_only = True))

No           11325.0
Height         180.0
Weight        6934.7
Legendary        4.0
dtype: float64

In [39]:
print(df["Height"].mean())

1.2

In [ ]:
group = df.groupby("Type1")  # grouping by ...
print(group["Height"].mean())

Type1
Bug         0.900000
Dragon      2.666667
Electric    0.855556
Fairy       0.950000
Fighting    1.185714
Fire        1.216667
Ghost       1.466667
Grass       1.083333
Ground      0.850000
Ice         1.550000
Normal      0.986364
Poison      1.221429
Psychic     1.371429
Rock        1.844444
Water       1.300000
Name: Height, dtype: float64

In [42]:
print(group["Height"].sum())

Type1
Bug         10.8
Dragon       8.0
Electric     7.7
Fairy        1.9
Fighting     8.3
Fire        14.6
Ghost        4.4
Grass       13.0
Ground       6.8
Ice          3.1
Normal      21.7
Poison      17.1
Psychic      9.6
Rock        16.6
Water       36.4
Name: Height, dtype: float64

In [48]:
#Data Cleaning

df = df.drop(columns="Legendary")

In [50]:
print(df)

      No        Name    Type1   Type2  Height  Weight
0      1   Bulbasaur    Grass  Poison     0.7     6.9
1      2     Ivysaur    Grass  Poison     1.0    13.0
2      3    Venusaur    Grass  Poison     2.0   100.0
3      4  Charmander     Fire     NaN     0.6     8.5
4      5  Charmeleon     Fire     NaN     1.1    19.0
..   ...         ...      ...     ...     ...     ...
145  146     Moltres     Fire  Flying     2.0    60.0
146  147     Dratini   Dragon     NaN     1.8     3.3
147  148   Dragonair   Dragon     NaN     4.0    16.5
148  149   Dragonite   Dragon  Flying     2.2   210.0
149  150      Mewtwo  Psychic     NaN     2.0   122.0

[150 rows x 6 columns]

In [51]:
#Handle Missing data
df = df.dropna(subset=["Type2"]) # Drop not available

In [52]:
print(df.to_string())

      No        Name     Type1     Type2  Height  Weight
0      1   Bulbasaur     Grass    Poison     0.7     6.9
1      2     Ivysaur     Grass    Poison     1.0    13.0
2      3    Venusaur     Grass    Poison     2.0   100.0
5      6   Charizard      Fire    Flying     1.7    90.5
11    12  Butterfree       Bug    Flying     1.1    32.0
12    13      Weedle       Bug    Poison     0.3     3.2
13    14      Kakuna       Bug    Poison     0.6    10.0
14    15    Beedrill       Bug    Poison     1.0    29.5
15    16      Pidgey    Normal    Flying     0.3     1.8
16    17   Pidgeotto    Normal    Flying     1.1    30.0
17    18     Pidgeot    Normal    Flying     1.5    39.5
20    21     Spearow    Normal    Flying     0.3     2.0
21    22      Fearow    Normal    Flying     1.2    38.0
30    31   Nidoqueen    Poison    Ground     1.3    60.0
33    34    Nidoking    Poison    Ground     1.4    62.0
38    39  Jigglypuff    Normal     Fairy     0.5     5.5
39    40  Wigglytuff    Normal     Fairy     1.0    12.0
40    41       Zubat    Poison    Flying     0.8     7.5
41    42      Golbat    Poison    Flying     1.6    55.0
42    43      Oddish     Grass    Poison     0.5     5.4
43    44       Gloom     Grass    Poison     0.8     8.6
44    45   Vileplume     Grass    Poison     1.2    18.6
45    46       Paras       Bug     Grass     0.3     5.4
46    47    Parasect       Bug     Grass     1.0    29.5
47    48     Venonat       Bug    Poison     1.0    30.0
48    49    Venomoth       Bug    Poison     1.5    12.5
61    62   Poliwrath     Water  Fighting     1.3    54.0
68    69  Bellsprout     Grass    Poison     0.7     4.0
69    70  Weepinbell     Grass    Poison     1.0     6.4
70    71  Victreebel     Grass    Poison     1.7    15.5
71    72   Tentacool     Water    Poison     0.9    45.5
72    73  Tentacruel     Water    Poison     1.6    55.0
73    74     Geodude      Rock    Ground     0.4    20.0
74    75    Graveler      Rock    Ground     1.0   105.0
75    76       Golem      Rock    Ground     1.4   300.0
78    79    Slowpoke     Water   Psychic     1.2    36.0
79    80     Slowbro     Water   Psychic     1.6    78.5
80    81   Magnemite  Electric     Steel     0.3     6.0
81    82    Magneton  Electric     Steel     1.0    60.0
82    83  Farfetch'd    Normal    Flying     0.8    15.0
83    84       Doduo    Normal    Flying     1.4    39.2
84    85      Dodrio    Normal    Flying     1.8    85.2
86    87     Dewgong     Water       Ice     1.7   120.0
90    91    Cloyster     Water       Ice     1.5   132.5
91    92      Gastly     Ghost    Poison     1.3     0.1
92    93     Haunter     Ghost    Poison     1.6     0.1
93    94      Gengar     Ghost    Poison     1.5    40.5
94    95        Onix      Rock    Ground     8.8   210.0
101  102   Exeggcute     Grass   Psychic     0.4     2.5
102  103   Exeggutor     Grass   Psychic     2.0   120.0
110  111     Rhyhorn    Ground      Rock     1.0   115.0
111  112      Rhydon    Ground      Rock     1.9   120.0
120  121     Starmie     Water   Psychic     1.1    80.0
121  122    Mr. Mime   Psychic     Fairy     1.3    54.5
122  123     Scyther       Bug    Flying     1.5    56.0
123  124        Jynx       Ice   Psychic     1.4    40.6
129  130    Gyarados     Water    Flying     6.5   235.0
130  131      Lapras     Water       Ice     2.5   220.0
137  138     Omanyte      Rock     Water     0.4     7.5
138  139     Omastar      Rock     Water     1.0    35.0
139  140      Kabuto      Rock     Water     0.5    11.5
140  141    Kabutops      Rock     Water     1.3    40.5
141  142  Aerodactyl      Rock    Flying     1.8    59.0
143  144    Articuno       Ice    Flying     1.7    55.4
144  145      Zapdos  Electric    Flying     1.6    52.6
145  146     Moltres      Fire    Flying     2.0    60.0
148  149   Dragonite    Dragon    Flying     2.2   210.0

In [54]:
df = df.fillna({"Type2": "None"})
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire    None     0.6     8.5          0
4      5  Charmeleon     Fire    None     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon    None     1.8     3.3          0
147  148   Dragonair   Dragon    None     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic    None     2.0   122.0          1

[150 rows x 7 columns]

In [57]:
#Fix inconsistent values
df["Type1"] = df["Type1"].replace({"Grass": "GRASS",
                                    "Fire": "FIRE",
                                    "Water": "WATER"})
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    GRASS  Poison     0.7     6.9          0
1      2     Ivysaur    GRASS  Poison     1.0    13.0          0
2      3    Venusaur    GRASS  Poison     2.0   100.0          0
3      4  Charmander     FIRE    None     0.6     8.5          0
4      5  Charmeleon     FIRE    None     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     FIRE  Flying     2.0    60.0          1
146  147     Dratini   Dragon    None     1.8     3.3          0
147  148   Dragonair   Dragon    None     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic    None     2.0   122.0          1

[150 rows x 7 columns]

In [58]:
#Standardize test
df["Name"] = df["Name"].str.lower()
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   bulbasaur    GRASS  Poison     0.7     6.9          0
1      2     ivysaur    GRASS  Poison     1.0    13.0          0
2      3    venusaur    GRASS  Poison     2.0   100.0          0
3      4  charmander     FIRE    None     0.6     8.5          0
4      5  charmeleon     FIRE    None     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     moltres     FIRE  Flying     2.0    60.0          1
146  147     dratini   Dragon    None     1.8     3.3          0
147  148   dragonair   Dragon    None     4.0    16.5          0
148  149   dragonite   Dragon  Flying     2.2   210.0          0
149  150      mewtwo  Psychic    None     2.0   122.0          1

[150 rows x 7 columns]

In [59]:
#Fix data types
df["Legendary"] = df["Legendary"].astype(bool)
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   bulbasaur    GRASS  Poison     0.7     6.9      False
1      2     ivysaur    GRASS  Poison     1.0    13.0      False
2      3    venusaur    GRASS  Poison     2.0   100.0      False
3      4  charmander     FIRE    None     0.6     8.5      False
4      5  charmeleon     FIRE    None     1.1    19.0      False
..   ...         ...      ...     ...     ...     ...        ...
145  146     moltres     FIRE  Flying     2.0    60.0       True
146  147     dratini   Dragon    None     1.8     3.3      False
147  148   dragonair   Dragon    None     4.0    16.5      False
148  149   dragonite   Dragon  Flying     2.2   210.0      False
149  150      mewtwo  Psychic    None     2.0   122.0       True

[150 rows x 7 columns]

In [61]:
# Remove duplicate values
df = df.drop_duplicates()
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   bulbasaur    GRASS  Poison     0.7     6.9      False
1      2     ivysaur    GRASS  Poison     1.0    13.0      False
2      3    venusaur    GRASS  Poison     2.0   100.0      False
3      4  charmander     FIRE    None     0.6     8.5      False
4      5  charmeleon     FIRE    None     1.1    19.0      False
..   ...         ...      ...     ...     ...     ...        ...
145  146     moltres     FIRE  Flying     2.0    60.0       True
146  147     dratini   Dragon    None     1.8     3.3      False
147  148   dragonair   Dragon    None     4.0    16.5      False
148  149   dragonite   Dragon  Flying     2.2   210.0      False
149  150      mewtwo  Psychic    None     2.0   122.0       True

[150 rows x 7 columns]